### Pollution Data Workup

In [59]:
# Import dependencies
import os
import pandas as pd

In [60]:
# Filepaths
pollution_data = os.path.join("..","Resources","pollution_us_2000_2016.csv")
us_zipcode_data = os.path.join("..","Resources","uszips.csv")

# Read csv into DataFrame
pollution_data = pd.read_csv(pollution_data)
us_zipcode_data = pd.read_csv(us_zipcode_data)

In [61]:
pollution_data.head(1)

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.0,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN

In [62]:
pollution_data.columns

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [63]:
# Convert zip to string and and zfill to 5 digits
us_zipcode_data["zip"] = us_zipcode_data["zip"].astype(str)
us_zipcode_data["zip"] = us_zipcode_data["zip"].str.zfill(5)
us_zipcode_data.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,00601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,00602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,00603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,00606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,00610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico

In [64]:
# Limit pollution data columns
pollution_data = pollution_data[["State", "County", "City", "Date Local", "NO2 Units", "NO2 Mean", "NO2 AQI", "O3 Units", "O3 Mean", "O3 AQI", "SO2 Units", "SO2 Mean", "SO2 AQI", "CO Units", "CO Mean", "CO AQI"]]
pollution_data.head()

,State,County,City,Date Local,NO2 Units,NO2 Mean,NO2 AQI,O3 Units,O3 Mean,O3 AQI,SO2 Units,SO2 Mean,SO2 AQI,CO Units,CO Mean,CO AQI
0,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,46,Parts per million,0.022500,34,Parts per billion,3.000000,13.0,Parts per million,1.145833,NaN
1,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,46,Parts per million,0.022500,34,Parts per billion,3.000000,13.0,Parts per million,0.878947,25.0
2,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,46,Parts per million,0.022500,34,Parts per billion,2.975000,NaN,Parts per million,1.145833,NaN
3,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,46,Parts per million,0.022500,34,Parts per billion,2.975000,NaN,Parts per million,0.878947,25.0
4,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,34,Parts per million,0.013375,27,Parts per billion,1.958333,4.0,Parts per million,0.850000,NaN

In [70]:
# Drop duplicates by city and date since the means are the same for the day
# df.drop_duplicates(subset=['bio', 'center', 'outcome'])
pollution_data = pollution_data.drop_duplicates(subset=["Date Local","City"])

In [84]:
# Determines means for pollution statistics by city
NO2_mean_calc = pollution_data.groupby("City")["NO2 Mean"].mean() 
NO2_AQI_calc = pollution_data.groupby("City")["NO2 AQI"].mean() 
O3_mean_calc = pollution_data.groupby("City")["O3 Mean"].mean()
O3_AQI_calc = pollution_data.groupby("City")["O3 AQI"].mean()
SO2_mean_calc = pollution_data.groupby("City")["SO2 Mean"].mean()
SO2_AQI_calc = pollution_data.groupby("City")["SO2 AQI"].mean()
CO_mean_calc = pollution_data.groupby("City")["CO Mean"].mean()
CO_AQI_calc = pollution_data.groupby("City")["CO AQI"].mean()
means_by_city = pd.DataFrame({"NO2 average": NO2_mean_calc, "NO2 AQI average": NO2_AQI_calc, "O3 average": O3_mean_calc, "O3 AQI average": O3_AQI_calc, "SO2 average": SO2_mean_calc, "SO2 AQI average": SO2_AQI_calc, "CO average": CO_mean_calc, "CO AQI average": CO_AQI_calc,})
means_by_city.reset_index(inplace=True)
means_by_city.head()

,City,NO2 average,NO2 AQI average,O3 average,O3 AQI average,SO2 average,SO2 AQI average,CO average,CO AQI average
0,Albuquerque,12.332948,24.462787,0.031711,41.332401,0.627877,1.179071,0.210632,NaN
1,Alexandria,14.920865,27.141593,0.029564,41.183118,1.958001,10.456093,0.253064,NaN
2,Altoona,9.806594,20.690928,0.027661,41.868671,4.157674,18.289030,0.152707,NaN
3,Annandale,12.544267,25.210682,0.028414,38.141444,4.405795,13.986152,0.427304,NaN
4,Arden-Arcade,10.613089,20.507664,0.025796,40.593183,0.993667,2.654901,0.402340,NaN