## The Walk Score

In [1]:
#import things
import requests
import os
import pandas as pd
from sqlalchemy import create_engine

from config import API_key

Import CSV Files

In [47]:
df = os.path.join('data', 'uszips.csv')

df = pd.read_csv(df)

df.head()

zip_codes = df.drop(columns = ['zcta', 'parent_zcta', 'county_fips', 'county_name', 
                  'county_weights', 'county_names_all', 'county_fips_all', 'imprecise',
                  'military', 'timezone'])

zip_codes

,zip,lat,lng,city,state_id,state_name,population,density
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,17242,111.4
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,38442,523.5
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,48814,667.9
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,6437,60.4
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,27073,312.0
...,...,...,...,...,...,...,...,...
33094,99923,55.97796,-130.03671,Hyder,AK,Alaska,15,2.1
33095,99925,55.55767,-132.97627,Klawock,AK,Alaska,927,5.7
33096,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,1635,4.2
33097,99927,56.25100,-133.37571,Point Baker,AK,Alaska,38,0.2
33098,99929,56.36950,-131.93648,Wrangell,AK,Alaska,2484,0.4

Import API stuff

In [15]:
#import things
import json
import requests
from pprint import pprint

In [55]:
url = "https://walk-score.p.rapidapi.com/score"

querystring = {"transit":"1","bike":"1","format":"json","lon":"-95.35983","lat":"29.75364","address":"1611 Lamar Street Houston TX","wsapikey":"7e527aa1cda1ae2912f2cc435c81ee5b"}

headers = {
    'x-rapidapi-host': "walk-score.p.rapidapi.com",
    'x-rapidapi-key': "dd2d08fcc6msh397327909b26597p17a852jsn618a4fd94fa6"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
"status": 1
, "walkscore": 89
, "description": "Very Walkable"
, "updated": "2020-05-17 22:07:05.630831"
, "logo_url": "https://cdn.walk.sc/images/api-logo.png"
, "more_info_icon": "https://cdn.walk.sc/images/api-more-info.gif"
, "more_info_link": "https://www.redfin.com/how-walk-score-works"
, "ws_link": "https://www.walkscore.com/score/1611-Lamar-Street-Houston-TX/lat=29.75364/lng=-95.35983/?utm_source=debrawu.github.io&utm_medium=ws_api&utm_campaign=ws_api"
, "help_link": "https://www.redfin.com/how-walk-score-works"
, "snapped_lat": 29.7540
, "snapped_lon": -95.3595



, "transit" : {"score": null, "description": null, "summary": null}
, "bike" : {"score": 70, "description": "Very Bikeable"}
}