In [100]:
import matplotlib.pyplot as plt
import pandas as pd
import requests, json
from pprint import pprint
import os
import numpy as np
from bs4 import BeautifulSoup
from sqlalchemy import create_engine

# Remember to update the config file with your API key
from api_keys import movie_api_key

ImportError: cannot import name 'movie_api_key' from 'api_keys' (/Users/jinahporter/Dropbox/내 Mac (Jinah의 MacBook Pro)/Desktop/Rice 2020/ETL_Project/api_keys.py)

In [97]:
url = "http://www.omdbapi.com/?t="
api_key = "&apikey=dd1dbd30"

In [99]:
response = requests.get(url + "Aliens" + api_key)
print(response.url)

http://www.omdbapi.com/?t=Aliens&apikey=dd1dbd30

In [29]:
weather_response = requests.get(query_url)
weather_json = weather_response.json()
pprint(weather_json)

{'base': 'stations',
 'clouds': {'all': 24},
 'cod': 200,
 'coord': {'lat': 29.81, 'lon': -95.56},
 'dt': 1603556297,
 'id': 0,
 'main': {'feels_like': 288.07,
          'humidity': 75,
          'pressure': 1021,
          'temp': 288.9,
          'temp_max': 289.82,
          'temp_min': 288.15},
 'name': 'Houston',
 'sys': {'country': 'US',
         'id': 2008349,
         'sunrise': 1603542616,
         'sunset': 1603582931,
         'type': 3},
 'timezone': -18000,
 'visibility': 10000,
 'weather': [{'description': 'few clouds',
              'icon': '02d',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 10, 'gust': 4.02, 'speed': 1.79}}

In [46]:
zip_data = os.path.join("data","uszips.csv")
zip_data = pd.read_csv(zip_data)
zip_data.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico

In [68]:
zip_code = zip_data.drop(columns = ["zcta", 'parent_zcta', 'county_fips', 'county_name',
                  'county_weights', 'county_names_all', 'county_fips_all', 'imprecise',
                  'military', 'timezone'])
zip_code.head()

,zip,lat,lng,city,state_id,state_name,population,density
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,17242,111.4
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,38442,523.5
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,48814,667.9
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,6437,60.4
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,27073,312.0

In [88]:
location = zip_code["zip"].astype(str)

In [89]:
# Build query UßRL || example: api.openweathermap.org/data/2.5/weather?zip=94040,us&appid={API key}
country_code = "us"
query_url = f"http://api.openweathermap.org/data/2.5/weather?zip={location},{country_code}&appid={weather_api_key}"
print(query_url)

http://api.openweathermap.org/data/2.5/weather?zip=0          601
1          602
2          603
3          606
4          610
         ...
33094    99923
33095    99925
33096    99926
33097    99927
33098    99929
Name: zip, Length: 33099, dtype: object,us&appid=a4030e913748977ebcfc1f6b4a4df554

In [82]:
requests.get(query_url)

In [84]:
soup = BeautifulSoup(response.text, 'html.parser')
print(soup.prettify())

{"cod":"400","message":"Nothing to geocode"}