### Pollution Data Workup

In [1]:
# Import dependencies
import os
import pandas as pd

In [2]:
# Filepaths
covid_data = os.path.join("data","cdc_covid.csv")

# Read csv into DataFrame
data = pd.read_csv(covid_data)
data.head()

,United States COVID-19 Cases and Deaths by State,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Date generated: Sun Oct 25 2020 12:12:56 GMT-0...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,Death Rate per 100000,Case Rate per 100000 in Last 7 Days,Death Rate per 100K in Last 7 Days
3,Alaska,12118,NaN,NaN,1569,1643,68,NaN,NaN,2,9,30.4,0
4,Alabama,180916,155915,25001,10542,3701,2859,2674,185,73,58,30.8,0.2

In [4]:
data.dropna(how="all", inplace=True)
data.count()
#data["COVID-19 Deaths"] = data["COVID-19 Deaths"].str.replace(",","", regex=True).astype('float')
#data.head()

United States COVID-19 Cases and Deaths by State    63
Unnamed: 1                                          62
Unnamed: 2                                          33
Unnamed: 3                                          33
Unnamed: 4                                          62
Unnamed: 5                                          62
Unnamed: 6                                          62
Unnamed: 7                                          33
Unnamed: 8                                          33
Unnamed: 9                                          62
Unnamed: 10                                         62
Unnamed: 11                                         62
Unnamed: 12                                         62
dtype: int64

In [ ]:
pollution_data.columns

In [4]:
# Convert zip to string and and zfill to 5 digits
us_zipcode_data["zip"] = us_zipcode_data["zip"].astype(str)
us_zipcode_data["zip"] = us_zipcode_data["zip"].str.zfill(5)
us_zipcode_data.head()

TypeError: string indices must be integers

In [5]:
# Limit pollution data columns
pollution_data = pollution_data[["State", "County", "City", "Date Local", "NO2 Units", "NO2 Mean", "NO2 AQI", "O3 Units", "O3 Mean", "O3 AQI", "SO2 Units", "SO2 Mean", "SO2 AQI", "CO Units", "CO Mean", "CO AQI"]]
pollution_data.head()

TypeError: string indices must be integers

In [6]:
# Join state abbreviation to pollution data
#WB_JH_WIKI_merge_df = pd.merge(WB_JH_merge_df,WIKI_population_df,on="Country Name",how="outer")
pollution_data = pd.merge(pollution_data, us_zipcode_data, left_on='State', right_on='state_id')

TypeError: Can only merge Series or DataFrame objects, a <class 'str'> was passed

In [96]:
# Drop duplicates by city and date since the means are the same for the day
# df.drop_duplicates(subset=['bio', 'center', 'outcome'])
pollution_data = pollution_data.drop_duplicates(subset=["Date Local","City"])

In [97]:
# Determines means for pollution statistics by city
NO2_mean_calc = pollution_data.groupby("City")["NO2 Mean"].mean() 
NO2_AQI_calc = pollution_data.groupby("City")["NO2 AQI"].mean() 
O3_mean_calc = pollution_data.groupby("City")["O3 Mean"].mean()
O3_AQI_calc = pollution_data.groupby("City")["O3 AQI"].mean()
SO2_mean_calc = pollution_data.groupby("City")["SO2 Mean"].mean()
SO2_AQI_calc = pollution_data.groupby("City")["SO2 AQI"].mean()
CO_mean_calc = pollution_data.groupby("City")["CO Mean"].mean()
CO_AQI_calc = pollution_data.groupby("City")["CO AQI"].mean()
means_by_city = pd.DataFrame({"NO2 average": NO2_mean_calc, "NO2 AQI average": NO2_AQI_calc, "O3 average": O3_mean_calc, "O3 AQI average": O3_AQI_calc, "SO2 average": SO2_mean_calc, "SO2 AQI average": SO2_AQI_calc, "CO average": CO_mean_calc, "CO AQI average": CO_AQI_calc,})
means_by_city.reset_index(inplace=True)
means_by_city.head()

,City,NO2 average,NO2 AQI average,O3 average,O3 AQI average,SO2 average,SO2 AQI average,CO average,CO AQI average
0,Albuquerque,12.332948,24.462787,0.031711,41.332401,0.627877,1.179071,0.210632,NaN
1,Alexandria,14.920865,27.141593,0.029564,41.183118,1.958001,10.456093,0.253064,NaN
2,Altoona,9.806594,20.690928,0.027661,41.868671,4.157674,18.289030,0.152707,NaN
3,Annandale,12.544267,25.210682,0.028414,38.141444,4.405795,13.986152,0.427304,NaN
4,Arden-Arcade,10.613089,20.507664,0.025796,40.593183,0.993667,2.654901,0.402340,NaN